@import url('https://fonts.cdnfonts.com/css/red-hat-display');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    background-color:  hsl(225, 100%, 90%);
}


.container{
    background-color: white;
    width: 340px;
    height: 540px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img img{
    border-radius: 21px 21px 0px 0px
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2{
    color: hsl(223, 47%, 23%);
    margin-top: 20px;
    font-weight: 900;
    font-size: 20px;
}

.content p{
    color: hsl(224, 23%, 55%);
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}

.plan{
    background-color: hsl(225, 70%, 98%);
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
}

.plan span{
    color:hsl(245, 75%, 52%);
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
}

.annual{
    margin-left: -30px;
}
.annual h2{
    color: hsl(223, 27%, 33%);
    font-weight: 900;
    font-size: 13px;
}

.annual span{
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    text-decoration: none;
}


.Payments{
    display: flex;
    flex-direction: column;
}

.Payments .proceed{
    background-color:hsl(245, 75%, 52%);
    margin-top: 15px;
    padding: 12px 70px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.Payments .cancel{
    margin-top: 17px;
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    text-align: center;
}


.plan span:hover{
    cursor: pointer;
}

.Payments .proceed:hover{
    cursor: pointer;
    background-color:hsl(245, 75%, 60%);
}

.Payments .cancel:hover{
    cursor: pointer;

}

@media only screen and (min-width: 560px){
    .container{
        width: 380px;
        height: 550px
    }
}
