@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.container{
    background-color: hsl(213, 25%, 12%);
    width: 350px;
    height: 375px;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
}


.content-img, .scale-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(210, 20%, 15%);
    display: grid;
    place-content: center;
    color: var(--Light-Grey);
    pointer-events: auto;
}

.content-title{
    color: white;
    padding-top: 1.5rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.content-description{
    color: var(--Light-Grey);
    padding-top: 1rem;
    letter-spacing: 0.15px;
    margin-bottom: 1.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.content-scale{
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}




.scale-button:hover{
    background-color: var(--Orange);
    color: var(--White);
    cursor: pointer;
}
.scale-button:focus{
    background-color: var(--Light-Grey);
    color: var(--White);
}

.content-submit{
    margin-top: 1.5rem;
    background-color: var(--Orange);
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 0.1rem;

}

.content-submit:hover{
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

/*---------------------------*/
.container-after{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: hsl(213, 25%, 12%);
    width: 350px;
    height: 375px;
    border-radius: 20px;
    padding: 1.5rem 1.5rem;

    
}

.content-img-after img{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    margin-bottom: 30px;
}


.content-rating{
    background-color: hsl(210, 20%, 13.5%);
    color: var(--Orange);
    width: 180px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    padding: 8px 0;
    font-size: 0.9rem;
} 


.after-title{
    color: white;
    padding-top: 1.55rem;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}

.after-description{
    color: var(--Light-Grey);
    padding-top: 1rem;
    letter-spacing: 0.15px;
    margin-bottom: 1.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: center;
}



@media (min-width:600px){
.container{
    width: 412px;
    height: 412px;
    padding: 34px;
}

.container-after{
    width: 412px;
    height: 412px;
    padding: 50px;
}

.after-description{
    letter-spacing: 0.5px;
    font-size: 12.7px;
}

}
